In [22]:
# Name: Rezoan Hossain
# IS 362
# Week 3 Assignment #3
# I used a pandas Series to store cumulative miles and calculated daily miles using .diff().

In [23]:
import pandas as pd

# my odometer totals (cumulative miles) each day
cumulative_miles_list = [55, 120, 180, 240]

In [24]:
cumulative = pd.Series(
    cumulative_miles_list,
    index=range(1, len(cumulative_miles_list) + 1),
    name="cumulative_miles"
)

daily = cumulative.diff()
daily.iloc[0] = cumulative.iloc[0]   # day 1 miles = first total
daily.name = "miles_today"

summary = pd.DataFrame({
    "cumulative_miles": cumulative,
    "miles_today": daily
})

summary

   cumulative_miles  miles_today
1                55         55.0
2               120         65.0
3               180         60.0
4               240         60.0

In [25]:
print("Total miles:", int(cumulative.iloc[-1]))

Total miles: 240

In [26]:
summary.index.name = "Day"
summary

     cumulative_miles  miles_today
Day
1                  55         55.0
2                 120         65.0
3                 180         60.0
4                 240         60.0